<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>

    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script async src="/js/loadheaders.js"></script>
</head>
<body>
    <div id="website-header"></div>
    <div class="filter-container" style="margin-top: 15px;">
        <div class="trivia">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex praesentium, enim provident architecto pariatur vitae dolorum placeat, dolores repudiandae voluptatum inventore eaque fuga voluptas. Optio neque laboriosam repudiandae esse doloremque?</div>
    </div>

    <div class="works-container">
        <% works.forEach(function (work) { %>
            <div class="work-container-grid">

                <div class="work-tile">
                    <div style="flex-direction: row; display: flex;">
                        <p style="font-size: 24px; margin-left: 5px;"><%= work.title %></p>
                        <p style="font-weight: 100;"><%= work.createdAt.toLocaleDateString() %></p>
                    </div>
                    <p style="font-weight: 400;"><%= work.description %></p>
                    
                </div>
                <img src="<%= work.imageDir %>" alt="image" onclick="window.location.replace('works/<%= work.dirname %>');">

            </div>
       <% }) %>
    </div>
</body>
</html>