<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>"<%= workArticle.title %>" Work</title>

    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script async src="/js/loadheaders.js"></script>
</head>
<body class="post-content">
    <div id="website-header"></div>

    <p class="title"><%= workArticle.title %></p>
    <p class="desc"> <%= workArticle.description %></p>
    <p class="date"><%= workArticle.createdAt.toLocaleDateString() %></p>

    <img src="../<%= workArticle.imageDir %>" alt="image" class="post-image"/>
    <div class="post-content-div">
        <%-workArticle.sanitizedHtml%>
    </div>
</body>
</html>